body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../image/bg_hostel.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.signin-form-container{
    background-color: #C5C9B8;
    width: 100%;
    color: #333333;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
